.App {
  text-align: center;
  background-color: #0643be;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0643be;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Pcard {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkboxPrompt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


